table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

thead {
    background: #76b852;
    color: #fff;
}

td, th {
    text-align: left;
    padding: 8px;
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}